<!DOCTYPE html>
<html>
<head>
    <title>Estudiantes</title>
</head>
<body>
<div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Matricula</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Telefono</td>
            <td>Acciones</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${listaEstudiantes.empty}">
            <td colspan="4">No Hay Estudiantes</td>
        </tr>
        <tr th:each="task : ${listaEstudiantes}">
            <td th:text="${task.matricula}">1</td>
            <td th:text="${task.nombre}">Nombre</td>
            <td th:text="${task.apellido}">Apellido</td>
            <td th:text="${task.telefono}">Telefono</td>
            <td><a th:href="@{/estudiante/editarEstudiante/{matricula}/(matricula=${task.matricula})}">Editar</a></td>
            <td>
                <form action="#" th:action="@{'/estudiante/eliminarEstudiante/{matricula}' (matricula=${task.matricula})}" method="post">
                    <button type="submit" id="submitButton">Eliminar </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<a th:href="@{/estudiante/crearEstudiante/}">Crear</a>
</body>
</html>